<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <div>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout</a>
                {% if path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) != '/posts' %}
                    <div>
                        <a href="{{ path('posts') }}">Posts</a>
                    </div>
                {% endif %}
            {% else %}
                <a href="{{ path('app_login') }}">Sign in</a>
                <a href="{{ path('app_register') }}">Sign up</a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
